@keyframes show_notification {
    0% {
        opacity: 1;       
        right: 70%;
    }
    10%{
        opacity: 1;       
        right: 40%;
    }
    100% {
        opacity: 0;       
        display: none; 
    }
  }
.card:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.card:hover .card_image{
    transform: scale(0.94); /* Scale the child element down */
    border: 1px solid lightgray;
    transition: transform 0.2s ease; /* Smooth transition for the child */
}
.input-nice{
    display: inline;
    width: 100%;
    padding: 0.375rem 0.75rem;
    padding-left: 25px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {
    outline: none;  
    border: none;  
    box-shadow: none; 
  }
.form-card{
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: left;
    display: block;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);

}
.join-us{
    margin-left: 5px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
 
}
.searchBar{
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 14px;
    padding-left: 15px;
    padding-right: 0px;

}
.searchIcon{
    z-index: 1;
    font-size: 21px;
    position: absolute;
    pointer-events: none;
  
}

.form-header{
    text-align: center;
    margin-bottom: 30px;
    color: #921A40;
}
.Header-Container{
    max-width: 100%;
    z-index: 2;
    background-color: white;
    margin-bottom: 20px;
   
}
.message-box{
    animation: show_notification 6s ease forwards; 
    position: absolute;
    left: -40%;
    bottom: 40%;
    text-align: center;
    width: 20rem;
   
}
.menu-box{
    position: absolute;
    right: 1%;
    top: 8.2%;
    z-index: 5;
    text-align: center;
    width: 20rem;
   
}

.card_image{
    height:375px;
    width:100%;
    margin: auto;
    display:block;
    border-radius: 0;
    background-color:black;
    border-bottom: 0.5px solid #ccc; 
    z-index: 2;
    
}

.quick_but{
    position: relative;
    bottom: 230%;
    left: 70%;
    z-index: 3;
    background-color: limegreen;
    border:1px solid limegreen ;
    border-radius: 50px;
    padding:5px 8px 5px 8px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    width: 2.5rem;
    }